@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    height:100%;
    width: 100%;
}
h1{
    font-size: 24px;
}
h2{
    font-size: 18px;
    font-weight: 100;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color:darkturquoise;
}
main{
    background-image: url(./img/guy-bg-grayscale.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
#angle{
    position: absolute;
    background-color: rgb(0, 119, 255);
    box-shadow:7px 5px 1px 1px rgba(0, 177, 221, 0.4);
    height: 200%;
    width: 600px;
    top: -50%;
    left: -300px;
    transform: rotate(15deg);
    z-index: 1;
}

/* Content left of the card */
aside{
    width: 400px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
    color: whitesmoke;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
aside ul{
    list-style-type: none;
}
aside li{
    margin: 15px 0;
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
    
}
aside ul li b{
    font-size: 22px;
    font-style: normal;
}

/* Content right of the card */
article{
    position: relative;
    color: whitesmoke;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
menu{
    position: fixed;
    height: 100%;
    z-index: 3;
    top: 20px;
    right: 20px;
}
menu ul{
    list-style: none;
    border: 3px solid white;
    width: 45px;
    height: 45px;
    padding: 10px;
    box-shadow: 2px 2px 1px 1px rgba(17, 17, 17, 0.692);
}
menu ul li{
    border-bottom: 3px solid white;
    width: 45px;
    margin: 10px 0;
    box-shadow: 2px 2px 1px 1px rgba(17, 17, 17, 0.692);
}
section i{
    margin: 20px;
}
section .fa{
    font-size: 4.5vw !important;
}
article section:nth-child(2){
    position: absolute;
    top: 40%;
    right: 40px;
    width: 40%;
    font-size: 2vw;
    text-align: right;
}
article section:nth-child(2) p{
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.9);
    font-weight: 700;
}
article section:nth-child(3){
    background-color: rgb(0, 119, 255);
}
